In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
####------Open In cvs and create a dataframe-----####
df = pd.read_csv("Escooter.csv")
df.head()

,TripID,StartDate,StartTime,EndDate,EndTime,TripDuration,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DayOfWeek,HourNum
0,0000045c-2677-3a7d-4b73-cad99a57,6/26/2019,19:30,6/26/2019,19:30,3,0.000,38.253,-85.756,38.253,-85.755,4,19
1,0000487b-92e6-50d6-7569-42ed3818,9/22/2019,14:30,9/22/2019,14:30,5,0.000,38.203,-85.752,38.204,-85.751,1,14
2,00006088-2579-e0d0-6a30-a15bb878,8/21/2019,17:30,8/21/2019,17:30,6,0.330,38.259,-85.733,38.265,-85.739,4,17
3,00008c1a-899b-8596-970f-9f6bf495,7/3/2019,11:00,7/3/2019,11:15,6,0.640,38.217,-85.757,38.221,-85.763,4,11
4,00009301-3225-2aea-a84a-165a480a,11/22/2019,10:45,11/22/2019,11:00,7,0.599,38.215,-85.759,38.222,-85.764,6,10

In [11]:
df['StartDate'] =pd.to_datetime(df.StartDate)
df['EndDate'] =pd.to_datetime(df.EndDate)
df = df.sort_values(by='StartDate') # This now sorts in date order
df.reset_index(inplace=True, drop=True)
df.head()

,TripID,StartDate,StartTime,EndDate,EndTime,TripDuration,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DayOfWeek,HourNum
0,c2df3e2e-2a38-2bf3-167c-d2e1a062,2018-08-09,13:45,2018-09-08,14:00,24,1.69,38.258,-85.766,38.258,-85.766,5,13
1,9fcb65dc-60cc-e563-4d95-e29e535e,2018-08-09,10:30,2018-09-08,10:30,2,0.04,38.251,-85.757,38.251,-85.758,5,10
2,710dc841-f8c6-256a-52d4-f787f25b,2018-08-09,13:30,2018-09-08,13:30,5,0.31,38.257,-85.759,38.256,-85.755,5,13
3,8b72004b-5cee-6338-1d7e-5499b97f,2018-08-09,13:30,2018-09-08,14:15,48,6.15,38.257,-85.751,38.257,-85.751,5,13
4,cce96e7a-0bb4-8b60-7469-5d035a76,2018-08-09,18:15,2018-09-08,18:30,19,3.16,38.235,-85.718,38.235,-85.716,5,18

In [53]:
#create afunction for choosing date.
def date_splitter(dataframe,start_date,end_date):
    start_date = '2018-08-09'
    end_date = '2018-08-30'
    name = (df['StartDate'] >= start_date) & (df['StartDate'] <= end_date)
    return name
start_date = '2018-08-09'
end_date ='2018-08-30'

mask = date_splitter(df,start_date,end_date)

In [54]:

df_one = df.loc[mask]
df_one.iloc[-1]
unique = df_one['StartDate'].unique()
print(unique)

['2018-08-09T00:00:00.000000000' '2018-08-10T00:00:00.000000000'
 '2018-08-11T00:00:00.000000000' '2018-08-12T00:00:00.000000000'
 '2018-08-13T00:00:00.000000000' '2018-08-14T00:00:00.000000000'
 '2018-08-15T00:00:00.000000000' '2018-08-16T00:00:00.000000000'
 '2018-08-17T00:00:00.000000000' '2018-08-18T00:00:00.000000000'
 '2018-08-19T00:00:00.000000000' '2018-08-20T00:00:00.000000000'
 '2018-08-21T00:00:00.000000000' '2018-08-22T00:00:00.000000000'
 '2018-08-23T00:00:00.000000000' '2018-08-24T00:00:00.000000000'
 '2018-08-25T00:00:00.000000000' '2018-08-26T00:00:00.000000000'
 '2018-08-27T00:00:00.000000000' '2018-08-28T00:00:00.000000000'
 '2018-08-29T00:00:00.000000000' '2018-08-30T00:00:00.000000000']

In [96]:
freq = df_one['StartDate']
type(freq)
f = pd.DataFrame(freq)
f.sort_values(by='StartDate')

array(['2018-08-09T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-08-11T00:00:00.000000000', '2018-08-12T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-14T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-17T00:00:00.000000000', '2018-08-18T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2018-08-21T00:00:00.000000000', '2018-08-22T00:00:00.000000000',
       '2018-08-23T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-08-25T00:00:00.000000000', '2018-08-26T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2018-08-28T00:00:00.000000000',
       '2018-08-29T00:00:00.000000000', '2018-08-30T00:00:00.000000000'],
      dtype='datetime64[ns]')