In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
####------Open In cvs and create a dataframe-----####
df = pd.read_csv("Escooter.csv")

In [2]:
df['StartDate'] =pd.to_datetime(df.StartDate)
df['EndDate'] =pd.to_datetime(df.EndDate)
df = df.sort_values(by='StartDate') # This now sorts in date order
df.reset_index(inplace=True, drop=True)
df.head()

,TripID,StartDate,StartTime,EndDate,EndTime,TripDuration,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DayOfWeek,HourNum
0,b51ca9cd-0c7a-9f6e-ee00-71296f30,2018-01-09,18:15,2018-09-01,18:30,6,0.53,38.257,-85.757,38.259,-85.752,7,18
1,ebee0316-6ce2-99ed-6997-6b37d771,2018-01-09,10:30,2018-09-01,11:15,33,5.12,38.254,-85.754,38.259,-85.756,7,10
2,5b16dfac-7209-a839-1aa0-898532ba,2018-01-09,15:00,2018-09-01,15:15,14,1.37,38.252,-85.754,38.251,-85.759,7,15
3,1a654fe9-9d7a-20c1-94f0-774b7f31,2018-01-09,10:45,2018-09-01,13:15,140,3.48,38.253,-85.739,38.256,-85.736,7,10
4,89537a09-72db-94cc-d844-a8b750e6,2018-01-09,9:00,2018-09-01,9:00,4,0.17,38.253,-85.754,38.253,-85.754,7,9

In [53]:
#create afunction for choosing date.
def date_splitter(dataframe,start_date,end_date):
    start_date = '2018-08-09'
    end_date = '2018-08-30'
    name = (df['StartDate'] >= start_date) & (df['StartDate'] <= end_date)
    return name
start_date = '2018-08-09'
end_date ='2018-08-30'

mask = date_splitter(df,start_date,end_date)

In [54]:

df_one = df.loc[mask]
df_one.iloc[-1]
unique = df_one['StartDate'].unique()
print(unique)

['2018-08-09T00:00:00.000000000' '2018-08-10T00:00:00.000000000'
 '2018-08-11T00:00:00.000000000' '2018-08-12T00:00:00.000000000'
 '2018-08-13T00:00:00.000000000' '2018-08-14T00:00:00.000000000'
 '2018-08-15T00:00:00.000000000' '2018-08-16T00:00:00.000000000'
 '2018-08-17T00:00:00.000000000' '2018-08-18T00:00:00.000000000'
 '2018-08-19T00:00:00.000000000' '2018-08-20T00:00:00.000000000'
 '2018-08-21T00:00:00.000000000' '2018-08-22T00:00:00.000000000'
 '2018-08-23T00:00:00.000000000' '2018-08-24T00:00:00.000000000'
 '2018-08-25T00:00:00.000000000' '2018-08-26T00:00:00.000000000'
 '2018-08-27T00:00:00.000000000' '2018-08-28T00:00:00.000000000'
 '2018-08-29T00:00:00.000000000' '2018-08-30T00:00:00.000000000']

In [96]:
freq = df_one['StartDate']
type(freq)
f = pd.DataFrame(freq)
f.sort_values(by='StartDate')

array(['2018-08-09T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-08-11T00:00:00.000000000', '2018-08-12T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-14T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-17T00:00:00.000000000', '2018-08-18T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000', '2018-08-20T00:00:00.000000000',
       '2018-08-21T00:00:00.000000000', '2018-08-22T00:00:00.000000000',
       '2018-08-23T00:00:00.000000000', '2018-08-24T00:00:00.000000000',
       '2018-08-25T00:00:00.000000000', '2018-08-26T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2018-08-28T00:00:00.000000000',
       '2018-08-29T00:00:00.000000000', '2018-08-30T00:00:00.000000000'],
      dtype='datetime64[ns]')